.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.search-container{
    background-color: rgb(12, 12, 12);
    text-align: center;
    padding: 15px;
}
.search-container input{
    width: 75%;
    height: 30px;   

}
.product-container{
    border-right: 1px solid rgb(201, 212, 211);
    margin-left: 15%;
} 

.cart-container{
    margin-left: 5%;
}
.pagination{
    margin: 30px;
}
.pagination button{
    padding: 0 10px;
    margin-right: 20px;
}
.pagination .selected{
    background-color: rgba(7, 118, 245, 0.931)  ;
    color: white;
}